# Environment Variables for Playwright Automation Script

# User Credentials #
LAN_ID=
LAN_PASSWORD=

##AWS OPENSEARCH##

OPENAI_API_TYPE=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_KEY=
AZURE_DEPLOYMENT=
API_VERSION=
    
# OpenSearch Configuration #
OPENSEARCH_URL=
OPENSEARCH_INDEX=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=
